{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock header %}
{% block body %}

    <main>
        <div class="main-wrapper pb-0 mb-0">
            <div class="timeline-wrapper">

                <div class="timeline-page-wrapper">
                    <div class="container-fluid p-0">
                        <div class="row g-0">
                            <div class="col-lg-6 order-2 order-lg-1">
                                <div class="timeline-bg-content bg-img" data-bg="assets/images/timeline/adda-timeline.jpg">
                                    <h3 class="timeline-bg-title">Let’s see what’s happening to you and your world. Welcome in Adda.</h3>
                                </div>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 d-flex align-items-center justify-content-center">
                                <div class="signup-form-wrapper">
                                    <h1 class="create-acc text-center">Create An Account</h1>
                                    <div class="signup-inner text-center">
                                        <h3 class="title">Wellcome to Adda</h3>
                                        <form method="post" action="{% url 'signin' %}" class="signup-inner--form">

                                            {%if form.errors %}
                                                <div class="alert alert-warning">
                                                    {{form.errors.email }}
                                                </div>
                                            {%endif%}
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="email" name="email" class="single-field" placeholder="Email" required>
                                                </div>
                                                <div class="col-12">
                                                    <input type="password" name="password" class="single-field" placeholder="Password" required>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="submit-btn">Log In</button>
                                                </div>
                                            </div>

                                            <h6 class="terms-condition">I have read & accepted the <a href="#">terms of use</a></h6>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
{% block footer %}

{% endblock footer %}