{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock header %}
{% block body %}
<main>
        <div class="main-wrapper pb-0 mb-0">
            <div class="timeline-wrapper">

			   <div class="timeline-page-wrapper">
                    <div class="container-fluid p-0">
                        <div class="row g-0">
                            <div class="col-md-3 order-2 order-lg-1">

                            </div>

							<div class="col-md-6 order-1 order-lg-2 d-flex align-items-center justify-content-center">
                                <div class="signup-form-wrapper">
                                    <div class="signup-inner text-center">
                                        <h3 class="title">Registration Success</h3>
                                        <form class="signup-inner--form">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p>Thank you we have send you email to {{form.email.value }}</p>
													<p>Please click the link in the message to activate your account</p>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

					   </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
{% block footer %}

{% endblock footer %}