{% extends 'email/email_base.html'%}
{% load static %}
{% block title %}Messangel{% endblock title %}

{% block content %}
        <div class="email-body">
          <div class="email-text">
            <span class="hello-greeetings">Bonjour 👋,</span><br><br>
            <p>Messangel</p>
            <br>
            <p></p>
            <!--<div class="email-btn">-->
              <!--<a href=""></a>-->
            <!--</div>-->
            <p><span class="bold">Please Click Link To Verify Your Account</span> </p><br>
            <p><a href="{{ domain }}/emailverify/{{secret_hash}}/{{email}}"><button>Verify Your Account</button></a></p><br>
            <p></p><br>
            <!--<div class="email-broder-btn">-->
              <!--<a href=""></a>-->
            <!--</div>-->
            <p><span class="bold"></span> <span class="bold"></span> </p><br>
            <div class="regards-msg">
                <p><span>Cordialement</span></p><br>
                <p> <span>Service client messangel</span></p>
            </div>
          </div>
        </div>



{%endblock %}