{% extends 'email/email_base.html'%}
{% load static %}
{% block title %}Virtuo Circle{% endblock title %}

{% block content %}
        <div class="email-body">
          <div class="email-text">
            <span class="hello-greeetings">Hello 👋,</span>{{first_name}} {{last_name}}<br><br>
            <p>Virtuo Circle</p>
            <br>
            <p></p>
            <!--<div class="email-btn">-->
              <!--<a href=""></a>-->
            <!--</div>-->
            <p><span class="bold">Welcome to VirtuoCircle</span> </p><br>
            <p>You have recently joined us</p><br>
            <p></p><br>
            <!--<div class="email-broder-btn">-->
              <!--<a href=""></a>-->
            <!--</div>-->
            <p><span class="bold"></span> <span class="bold"></span> </p><br>
            <div class="regards-msg">
                <p><span>Cordialement</span></p><br>
                <p><span>Service client messangel</span></p>
            </div>
          </div>
        </div>



{%endblock %}