<!doctype html>
{% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} {% endblock title%}</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <!-- CSS
	============================================ -->
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bicon.min.css' %}">
    <!-- Flat Icon CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/flaticon.css' %}">
    <!-- audio & video player CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/plyr.css' %}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/slick.min.css' %}">
    <!-- nice-select CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/nice-select.css' %}">
    <!-- perfect scrollbar css -->
    <link rel="stylesheet" href="{% static 'css/plugins/perfect-scrollbar.css' %}">
    <!-- light gallery css -->
    <link rel="stylesheet" href="{% static 'css/plugins/lightgallery.min.css' %}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% block header %}
        {% include 'includes/header.html' %}
    {% endblock header %}

    {% block body %}{% endblock body %}
     <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="bi bi-finger-index"></i>
    </div>
    <!-- Scroll to Top End -->

    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock footer %}

    <!-- JS ============================================ -->

    <!-- Modernizer JS -->
    <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <!-- Slick Slider JS -->
    <script src="{% static 'js/plugins/slick.min.js' %}"></script>
    <!-- nice select JS -->
    <script src="{% static 'js/plugins/nice-select.min.js' %}"></script>
    <!-- audio video player JS -->
    <script src="{% static 'js/plugins/plyr.min.js' %}"></script>
    <!-- perfect scrollbar js -->
    <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
    <!-- light gallery js -->
    <script src="{% static 'js/plugins/lightgallery-all.min.js' %}"></script>
    <!-- image loaded js -->
    <script src="{% static 'js/plugins/imagesloaded.pkgd.min.js' %}"></script>
    <!-- isotope filter js -->
    <script src="{% static 'js/plugins/isotope.pkgd.min.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>